# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [1]:
import pandas as pd

# URLS
file1_url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
file2_url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv"
file3_url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv"

# IMPORTING
data1 = pd.read_csv(file1_url)
data2 = pd.read_csv(file2_url)
data3 = pd.read_csv(file3_url)

# COMBINED DATA WITH CONCAT
combined_data = pd.concat([data1, data2, data3], ignore_index=True)

# Changing the null values with the median

combined_data['Income'].fillna(combined_data['Income'].median(), inplace=True)
combined_data['Monthly Premium Auto'].fillna(combined_data['Monthly Premium Auto'].median(), inplace=True)
combined_data['Total Claim Amount'].fillna(combined_data['Total Claim Amount'].median(), inplace=True)

# Changing null values of categorical columns with the mode

combined_data['ST'].fillna(combined_data['ST'].mode()[0], inplace=True)
combined_data['GENDER'].fillna(combined_data['GENDER'].mode()[0], inplace=True)
combined_data['Number of Open Complaints'].fillna(combined_data['Number of Open Complaints'].mode()[0], inplace=True)
combined_data['State'].fillna(combined_data['State'].mode()[0], inplace=True)
combined_data['Gender'].fillna(combined_data['Gender'].mode()[0], inplace=True)

# Replacing the name of the values

combined_data['ST'].replace({'AZ': 'Arizona', 'Cali': 'California', 'WA': 'Washington'}, inplace=True)

combined_data.rename(columns={'ST': 'State_2'}, inplace=True)

# Cleaning'
combined_data['Customer Lifetime Value'] = combined_data['Customer Lifetime Value'].str.replace('%', '')

# Changing the type to float
combined_data['Customer Lifetime Value'] = combined_data['Customer Lifetime Value'].astype(float)

# Replacing null values with the mean
mean_lifetime_value = combined_data['Customer Lifetime Value'].mean()
combined_data['Customer Lifetime Value'].fillna(mean_lifetime_value, inplace=True)

# Rounding the values two decimals
combined_data['Customer Lifetime Value'] = combined_data['Customer Lifetime Value'].round(2)

# Changing the type
combined_data['Income'] = combined_data['Income'].astype('Int64')

mean_income = combined_data['Income'].mean()

combined_data['Income'].fillna(int(mean_income), inplace=True)

combined_data

,Customer,State_2,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount,State,Gender
0,RB50392,Washington,F,Master,779946.31,0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934,California,F
1,QZ44356,Arizona,F,Bachelor,697953.59,0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935,California,F
2,AI49188,Nevada,F,Bachelor,1288743.17,48767,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247,California,F
3,WW63253,California,M,Bachelor,764586.18,0,106.0,1/0/00,Corporate Auto,SUV,529.881344,California,F
4,GA49547,Washington,M,High School or Below,536307.65,36357,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323,California,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12069,LA72316,Oregon,F,Bachelor,779946.31,71941,73.0,0,Personal Auto,Four-Door Car,198.234764,California,M
12070,PK87824,Oregon,F,College,779946.31,21604,79.0,0,Corporate Auto,Four-Door Car,379.200000,California,F
12071,TD14365,Oregon,F,Bachelor,779946.31,0,85.0,3,Corporate Auto,Four-Door Car,790.784983,California,M
12072,UP19263,Oregon,F,College,779946.31,21941,96.0,0,Personal Auto,Four-Door Car,691.200000,California,M
12073,Y167826,Oregon,F,College,779946.31,0,77.0,0,Corporate Auto,Two-Door Car,369.600000,California,M

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [2]:
# Challenge 2

import pandas as pd

# Load the dataset

url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv"
data = pd.read_csv(url)

# Display the first few rows of the dataset to understand its structure
data.head()

# Deleting a row 

data.drop('unnamed:_0', axis=1, inplace=True)

# Total revenue for each sales channel

sales_channel_revenue = data.pivot_table(index='sales_channel', values='total_claim_amount', aggfunc='sum')
sales_channel_revenue['total_revenue'] = round(sales_channel_revenue['total_claim_amount'], 2)
print("\nTotal revenue for each sales channel:")
print(sales_channel_revenue[['total_revenue']])

# Average customer lifetime value per gender and education level

avg_clv_gender_education = data.pivot_table(index=['gender', 'education'], values='customer_lifetime_value', aggfunc='mean')
print("\nAverage customer lifetime value per gender and education level:")
print(avg_clv_gender_education)

Total revenue for each sales channel:
               total_revenue
sales_channel
Agent             1810226.82
Branch            1301204.00
Call Center        926600.82
Web                706600.04

Average customer lifetime value per gender and education level:
                             customer_lifetime_value
gender education
F      Bachelor                          7874.269478
       College                           7748.823325
       Doctor                            7328.508916
       High School or Below              8675.220201
       Master                            8157.053154
M      Bachelor                          7703.601675
       College                           8052.459288
       Doctor                            7415.333638
       High School or Below              8149.687783
       Master                            8168.832659

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here